---
layout: default
title: Tags
permalink: /tags/
---

{% include page-hero.html %}

<div class="section">
	<div class="container">
		<h2>{{ site.title }}</h2>
		<div class="tags">
		{% assign tags_list = site.tags %}
		  {% if tags_list.first[0] == null %}
		    {% for tag in tags_list %}
		      <a href="#{{ tag | slugify }}">{{ tag }}</a>
		    {% endfor %}
		  {% else %}
		    {% for tag in tags_list %}
		      <a href="#{{ tag[0] | slugify }}">{{ tag[0] }}</a>
		    {% endfor %}
		  {% endif %}
		{% assign tags_list = nil %}
		</div>
	</div>
</div>
