---
layout: compress
---
<!DOCTYPE html>
<html lang="pt-br">
{% include head.html %}
<body>
  <!--[if lt IE 9]>
    <div class="notification">
      <p>Este site não fornece suporte para browsers obsoletos. Por favor <a href="http://www.browsehappy.com" target="_blank">Atualize aqui</a> seu navegador.</p>
    </div>
  <![endif]-->
  <main>
    <section class="hero is-primary is-bold is-fullheight has-text-centered">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">{{ page.title }}</h1>
					<p>Ipsum deleniti modi commodi repudiandae reiciendis, earum beatae impedit sequi Sed illum aliquid rerum assumenda fugit? Perspiciatis mollitia sint magni exercitationem veniam? Sed ipsam aliquid autem saepe esse? Optio amet?</p>
        </div>
      </div>
    </section>
  </main>
</body>
</html>
